body{
    font-family: Audiowide;
}

  
video{
   width:1400px;
    height: 517px;
    /* object-fit: cover; */
    object-position: 50% 50%;
}


.services{
    background: #D0A149;
    display:flex;
    justify-content: space-around;
    padding:40px;
}

.lesson{
    /* height: 300px; */
    
    /* border-style:solid;
    border-width: 2px;
    border-radius:4px; */
    padding:40px;
    
}

.workshop{
    /* height: 300px; */

    /* border-style:solid;
    border-width: 2px;
    border-radius:4px; */
    padding:40px;
    
    
}

.camp{
    /* height: 300px; */
    /* border-style:solid;
    border-width: 2px;
    border-radius:4px; */
    padding:40px;
    
    
}

.service-img{
    height:200px;
    width:200px;
}


.no-bullet{
    list-style-type: none;
}

.body-text{
    margin-left: 10px;
    margin-right: 10px;
}